h1, h2 {
  text-align: center;
}
#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#article {
  border: 2px solid black;
}
#button {
  text-align: center;
  margin-top: 50px;
}
#button a {
  border: 3px solid black;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
  padding: 3px;
}
@media (max-width:800px) {
  #grid {
    display: block;
  }
}
